variables:

.template: &template
  before_script:
    - echo "Installing required dependencies..."
    - apt update
    - apt install -y cmake git
    - echo "Installing potential dependencies..."

    - apt install -y python3-dev

    - apt install -y doxygen

  script:
    - cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -Dtest-gha-cookiecutter_BUILD_DOCS=OFF -Dtest-gha-cookiecutter_BUILD_PYTHON=OFF
    - cmake --build build
    - ctest --test-dir build

# Note: You can use your own Docker images here that e.g. include relevant
#       dependencies and development tools. We choose well-maintained images
#       providing up-to-date compiler toolchains.

build-and-test:gcc:
  image: gcc:14
  <<: *template

build-and-test:clang:
  image: silkeh/clang:18
  <<: *template
